<style>
        @page {
            size: letter;
            margin: 20mm;
        }
        body {
            font-family: Arial, sans-serif;
            line-height: 1.4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
            height: 100vh;
            box-sizing: border-box;
        }
        .alerta-amber {
            border: 2px solid #f00;
            padding: 20px;
            width: 100%;
            max-width: 800px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }
        .alerta-amber header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
        }
        .alerta-amber header img {
            width: 80px;
            height: auto;
        }
        .alerta-amber header .center-logo {
            text-align: center;
            flex-grow: 1;
        }
        .alerta-amber header .center-logo img {
            width: 80px;
            height: auto;
        }
        .alerta-amber header h1,
        .alerta-amber header h2,
        .alerta-amber header h3 {
            position: absolute;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .alerta-amber header h1 {
            top:50px;
            font-size: 1.1em;
            color: #000;
        }
        .alerta-amber header h2 {
            top: 90px;
            font-size: 1em;
            color: #555;
        }
        .alerta-amber header h3 {
            top: 140px;
            font-size: 0.9em;
            color: #777;
        }

        .alerta-amber .center-logo {
            margin-top: 90px;
        }
        .alerta-amber img.profile {
            display: block;
            margin: 10px auto;
            width: 100px;
            height: auto;
            align: center;
        }
        .alerta-amber .info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 10px;
        }
        .alerta-amber .info div {
            flex: 1;
            margin: 5px;
        }
        .alerta-amber .info div:nth-child(2) {
            text-align: right;
        }
        .alerta-amber .info div p {
            margin: 3px 0;
            font-size: 0.7em;
        }
        .alerta-amber .description {
            margin-top: 10px;
            font-size: 0.7em;
        }
        .alerta-amber .description p {
            margin: 5px 0;
        }
        .alerta-amber .informant {
            margin-top: 10px;
        }
        .alerta-amber .informant h3 {
            width: 100%;
            text-align: center;
            margin: 0;
            font-size: 1.1em;
        }
        .alerta-amber .informant p {
            margin: 3px 0;
            font-size: 0.8em;
        }
        .alerta-amber .informant p strong {
            display: inline-block;
            width: 180px;
        }
        .alerta-amber .contact {
            text-align: center;
            margin-top: 8px;
            font-weight: bold;
            font-size: 0.6em;
        }
        .alerta-amber .contact p {
            margin: 5px 0;
        }



.alerta-amber .test {
            text-align: right;
           margin-top: 90px;
}
.alerta-amber .ctest {
  margin-top: 8px;
        text-align: center;

}


    </style>
